// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
  keyboard {
    track-layout "global"
    xkb {
      layout "de,de"
      variant "neo,nodeadkeys"
    }
  }

  touchpad {
    // off
    tap  // tap to click
    dwt  // disable while typing
    dwtp  // disable while trackpointing
    // natural-scroll  // invert scrolling direction
    accel-speed 0.2  // ∈ [-1,1], default: 0
    scroll-method "two-finger"  // or "tow-finger", "edge", "on-button-down"
    // disabled-on-external-mouse
  }

  mouse {
    //accel-profile "flat"  // default: "adaptive"
    accel-speed 0.2
  }

  trackpoint {
    accel-speed 0.2
  }

  //warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="10%"
  workspace-auto-back-and-forth
}

// find output name with `niri msg outputs`
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "LG Electronics LG ULTRAWIDE 0x00055D56" {
  mode "3440x1440"
  position x=0 y=0
  focus-at-startup
}

output "eDP-1" {
  scale 1
  mode "1920x1080"
  position x=3440 y=360
  focus-at-startup
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
  gaps 5
  center-focused-column "never"
  //always-center-single-column
  empty-workspace-above-first

  struts {
    left 64
    right 64
  }

  preset-column-widths {
    proportion 0.5
    proportion 0.66667
    proportion 0.5
    proportion 0.33333
  }

  preset-window-heights {
    proportion 1.0;
    proportion 0.75;
    proportion 0.5;
    proportion 0.33;
    proportion 0.5;
    proportion 0.75;
  }

  // let windows decide their initial width
  default-column-width { }
  // ... or force proportion?
  // default-column-width { proportion 0.5; }

  focus-ring {
    width 3
    active-color "#076678"
    inactive-color "#404555"

    active-gradient from="#076678" to="#fe8018" angle=115 in="oklch shorter hue"

    // You can also color the gradient relative to the entire view
    // of the workspace, rather than relative to just the window itself.
    // To do that, set relative-to="workspace-view".
    //
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  border {
    width 2
    active-color "#076678"
    inactive-color "#504945"
    active-gradient from="#076678" to="#fe8018" angle=115 in="oklch shorter hue"
  }

  insert-hint {
    color "#ffc87f80"
  }

  shadow {
      on
      softness 7
      spread 3
      offset x=0 y=0
      draw-behind-window true
      color "#202020"
  }
}


binds {
  // Bindings are optimized for neo layout
  Mod+dead_circumflex { show-hotkey-overlay; }

  // Right hand is responsible for navigation and layout management
  // without modifier always focuses
  // Shift modifier always moves

  Mod+Space { center-column; }

  //       UP          >   h G f
  // LEFT DOWN RIGHT   > s N R T d

  Mod+H        { focus-window-up; }
  Mod+G        { focus-workspace-up; }
  Mod+F        { focus-window-down; }
  Mod+S        { focus-column-first; }
  Mod+N        { focus-column-left; }
  Mod+R        { focus-workspace-down; }
  Mod+T        { focus-column-right; }
  Mod+D        { focus-column-last; }

  Mod+Shift+H  { move-window-up; }
  Mod+Shift+G  { move-column-to-workspace-up; }
  Mod+Shift+F  { move-window-down; }
  Mod+Shift+S  { move-column-to-first; }
  Mod+Shift+N  { move-column-left; }
  Mod+Shift+R  { move-column-to-workspace-down; }
  Mod+Shift+T  { move-column-right; }
  Mod+Shift+D  { move-column-to-last; }

  Mod+Ctrl+F   { move-workspace-down; }
  Mod+Ctrl+H   { move-workspace-up; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }
  Mod+M      { consume-or-expel-window-left; }
  Mod+J      { consume-or-expel-window-right; }

  Mod+K { switch-preset-column-width; }
  Mod+Shift+K { switch-preset-window-height; }
  Mod+Ctrl+K  { reset-window-height; }

  Mod+Q      { set-column-width "-10%"; }
  Mod+Ssharp { set-column-width "+10%"; }
  Mod+Shift+Ssharp { set-window-height "-10%"; }
  Mod+Shift+Q      { set-window-height "+10%"; }

  Mod+Ctrl+N        { focus-monitor-left; }
  Mod+Ctrl+R        { focus-monitor-down; }
  Mod+Ctrl+G        { focus-monitor-up; }
  Mod+Ctrl+T        { focus-monitor-right; }
  Mod+Shift+Ctrl+N  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+R  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+G  { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+T  { move-column-to-monitor-right; }

  Mod+1      { focus-workspace 1; }
  Mod+2      { focus-workspace 2; }
  Mod+3      { focus-workspace 3; }
  Mod+4      { focus-workspace 4; }
  Mod+5      { focus-workspace 5; }
  Mod+6      { focus-workspace 6; }
  Mod+7      { focus-workspace 7; }
  Mod+8      { focus-workspace 8; }
  Mod+9      { focus-workspace 9; }
  Mod+Shift+1      { move-column-to-workspace 1; }
  Mod+Shift+2      { move-column-to-workspace 2; }
  Mod+Shift+3      { move-column-to-workspace 3; }
  Mod+Shift+4      { move-column-to-workspace 4; }
  Mod+Shift+5      { move-column-to-workspace 5; }
  Mod+Shift+6      { move-column-to-workspace 6; }
  Mod+Shift+7      { move-column-to-workspace 7; }
  Mod+Shift+8      { move-column-to-workspace 8; }
  Mod+Shift+9      { move-column-to-workspace 9; }


  // right hand does window management and app launching
  Mod+Return { spawn "foot"; }
  Mod+A { spawn "fzf-window" "fzf-menu"; }
  Mod+Shift+A { spawn "fzf-window" "fzf-pass"; }
  Mod+Shift+C { spawn "fzf-window" "fzf-boot"; }
  Super+Shift+L { spawn "lock-screen"; }
  Ctrl+Alt+L { quit; }
  Mod+Ctrl+L { power-off-monitors; }
  // B is on the right hand, but this is etched into my brain
  Mod+B { spawn "firefox"; }

  Mod+X { close-window; }
  Mod+E { maximize-column; }
  Mod+Shift+E { fullscreen-window; }

  // Move the focused window between the floating and the tiling layout.
  Mod+Tab       { toggle-window-floating; }
  Mod+Shift+Tab { switch-focus-between-floating-and-tiling; }

  // Actions to switch keyboard layouts.
  Mod+Ctrl+Tab       { switch-layout "next"; }
  Mod+Ctrl+Shift+Tab { switch-layout "prev"; }

  Mod+Escape { screenshot; }
  Mod+Ctrl+Escape { screenshot-screen; }
  Mod+Alt+Escape { screenshot-window; }

  // special keys
  XF86AudioRaiseVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
  Mod+XF86AudioRaiseVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
  Mod+XF86AudioLowerVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
  Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn "set-volume" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86AudioPrev { spawn "playerctl" "previous"; }
  XF86AudioPlay { spawn "playerctl" "play-pause"; }
  XF86AudioNext { spawn "playerctl" "next"; }
  XF86AudioStop { spawn "playerctl" "stop"; }

  XF86MonBrightnessUp { spawn "set-brightness" "5%+"; }
  XF86MonBrightnessDown { spawn "set-brightness" "5%-"; }

  // mouse bindings. here we break with the convention of shift = move
  Mod+WheelScrollDown      cooldown-ms=150  { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150  { focus-workspace-up; }
  Mod+Shift+WheelScrollDown                 { focus-column-right; }
  Mod+Shift+WheelScrollUp                   { focus-column-left; }

  Mod+Ctrl+WheelScrollDown cooldown-ms=150  { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150  { move-column-to-workspace-up; }
  Mod+Ctrl+Shift+WheelScrollDown            { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp              { move-column-left; }

  //Mod+TouchpadScrollDown { focus-workspace-down; }
  //Mod+TouchpadScrollUp   { focus-workspace-up; }
  //Mod+Shift+TouchpadScrollDown { focus-column-right; }
  //Mod+Shift+TouchpadScrollUp   { focus-column-left; }

  //Mod+Ctrl+TouchpadScrollDown { move-column-to-workspace-down; }
  //Mod+Ctrl+TouchpadScrollUp   { move-column-to-workspace-up; }
  //Mod+Ctrl+Shift+TouchpadScrollDown { move-column-right; }
  //Mod+Ctrl+Shift+TouchpadScrollUp   { move-column-left; }
}

switch-events {
  lid-close { spawn "systemctl" "suspend"; }
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

prefer-no-csd
window-rule {
  geometry-corner-radius 6
  clip-to-geometry true
}

window-rule {
  match app-id="pavucontrol"
  match app-id="wdisplays"
  open-floating true
  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.75; }
}

window-rule {
  match app-id="fzfmenu"
  match title="fzfmenu"
  default-column-width { fixed 480; }
}

window-rule {
  match app-id="Alacritty"
  match app-id="com.mitchellh.ghostty"
  match app-id="foot"
  default-column-width { proportion 0.5; }
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/screenshots/%Y-%m-%dT%H%M%S.png"

environment {
  DISPLAY ":0"
}
