* {
  font-family: Hack Nerd Font, sans-serif;
  font-size: 12pt;
  min-height: 0;
}

window#waybar {
  border: none;
  background: none;
  color: #ebdbb2;
}

tooltip {
  background: rgba(40, 40, 40, .8);
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

/* groups of related widgets */
window.top box.modules-left,
box.modules-center,
#privacy-tools,
#system-monitor,
#connectivity,
#laptop,
#audio,
#tray {
  background: rgba(0, 0, 0, .7);
  padding: 8px 14px;
  border-radius: 20px;
}

/* submodule spacing */
#custom-calendar,
#custom-mails,
#custom-tasks,
#memory,
#disk {
  margin-left: 16px;
}

#bluetooth,
#network.bandwidth {
  margin-left: 8px;
}

#disk {
  margin-right: 16px;
}

/* slider size and styling */
trough {
  /* background */
  min-width: 60px;
  min-height: 10px;
  margin-top: -3px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #504945;
}

slider {
  /* handle */
  background-color: transparent;
  box-shadow: none;
  border: none;
}

highlight {
  /* progress */
  border-radius: 8px;
  background-color: #d65d0e;
}

/* fix symbol spacing */
#custom-tasks,
#idle_inhibitor,
#backlight,
#pulseaudio.input,
#network {
  padding-right: 8px;
}

#bluetooth {
  padding-right: 2px;
}


/* critical indicator */
@keyframes blink {
  to {
    color: #f9f5d7;
  }
}

#temperature.critical,
#battery.critical:not(.charging) {
  color: #cc241d;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
